html,
body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
}


.menu-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #cf2949;
	opacity: 0;
	height: 0;
	visibility: hidden;
	transition-property: opacity, visibility, height;
	transition-duration: 350ms;
}

.menu-overlay.active {
	opacity: 0.9;
	height: 100%;
	visibility: visible;
}

.menu-button {
	position: fixed;
	top: 0;
	right: 0;
	background-color: orange;
	width: 30px;
	height: 30px;
	z-index: 1;
}